<!DOCTYPE html>
<html>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

	<div ng-app="myApp" ng-controller="myCtrl">
		<div
			ng-repeat="data in componentDefintion.componentDefinition | orderBy:'seqNo' ">

			<div ng-if="data.type == 'input' && data.multiYN == 'Y'">
				<div class="form-group col-lg-4"
					ng-repeat="field  in data.componentValues">
					<label for="{{field.uniqueId}}">{{field.label}}</label> <input
						type="text" class="form-control" id="{{field.uniqueId}}"
						value={{field.data[0]}}>
				</div>
			</div>
			<div class="clearfix" />
			<div ng-if="data.type == 'radio'">
				<div class="center" ng-repeat="field  in data.componentValues">
					<input type="radio" id="id_{{data.uniqueId}}" name="{{data.uniqueId}}" ng-model="ngModelData[data.uniqueId]" value="{{field.uniqueId}}"> <label>{{field.label}}</label><br>
				</div>
				<div class="clearfix"></div>
			</div>

			<div ng-if="data.type == 'input' && data.multiYN == 'N'">
			<div class="form-group col-lg-12">
					<label for="{{field.data}}">{{data.label}}</label> <input
						type="text" class="form-control" id="{{data.uniqueId}}"
						value={{data.data[0]}}>
				</div>
			</div>

			<div ng-if="data.type == 'tabs'">

				<ul class="nav nav-tabs" id="mytab">
					<li ng-repeat="tab in data.componentValues"
						ng-class="{active: $index == 0}"><a href="#tab{{$index + 1}}"
						data-toggle="tab">{{tab.label}}</a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane fade in" id="tab{{$index + 1}}"
						ng-repeat="tab in data.componentValues"
						ng-class="{active: $index == 0}">
						<fieldset class="col-md-12"
							ng-repeat="fieldSet in tab.componentDefinition | orderBy : 'seqNo'">
							<legend>{{fieldSet.label}}</legend>

							<div>
								<div>
									<div ng-if="fieldSet.type == 'table'">
										<table class="table table-compact table-bordered" ng-click="callPage(fieldSet.action,fieldSet.params)">
											<thead>
												<tr>
													<th ng-repeat="col in fieldSet.componentValues"
														style="cursor: pointer">{{col.label}}</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="row in fieldSet.data">
													<td 
														ng-repeat="col in fieldSet.componentValues">{{row[col.uniqueId]}}</td>

												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</fieldset>

					</div>
				</div>
			</div>
			
			<div ng-if="data.type == 'table'">
						<fieldset class="col-md-12">
							<legend>{{data.label}}</legend>
										<table class="table table-compact table-bordered" ng-click="callPage(data.action,data.params)">
											<thead>
												<tr>
													<th ng-repeat="col in data.componentValues"
														style="cursor: pointer">{{col.label}}</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="row in data.data">
													<td 
														ng-repeat="col in data.componentValues">{{row[col.uniqueId]}}</td>

												</tr>
											</tbody>
										</table>

						</fieldset>

			</div>

			<div ng-if="data.type == 'button'" class="col-lg-12">
				<div class="btn-toolbar pull-right" role="toolbar">
					<div class="btn-group" role="group" ng-repeat="field  in data.componentValues">
						<button class="btn btn-primary" ng-click="callPage(field.action,field.params)"> {{field.label}}</button>
					</div>
					
				</div>


			</div>
</div>

		</div>
		<style type="text/css">
.center {
	text-align: center;
}
</style>
		<script>
			var app = angular.module('myApp', []);
			app.controller('myCtrl', function($scope, $http) {
				
				$scope.ngModelData = {};
				$scope.params= { };
				$scope.getColumnCount = function(object) {
					return 12 / object.length;
				}
				$scope.getComponents = function(pageUrl,requestParams) {
					var regex = /^(.).*\1$/;
					var url = !!pageUrl ? pageUrl : "components";
					//var params = {};
					if(!!requestParams){
						var paramsList = requestParams.split(",");
						if(!!paramsList){
							angular.forEach(paramsList, function(value, key){
								var paramKeys = value.split("=");
								if(regex.test(paramKeys[1])){
									var ngModelKey = paramKeys[1].replace(/##/g, "")
									$scope.params[paramKeys[0]]=$scope.ngModelData[ngModelKey];
								}else{
									$scope.params[paramKeys[0]]=paramKeys[1];
								}
								
							   });
							
						}else{
							var paramKeys = params.split("=");
							$scope.params[paramKeys[0]]=paramKeys[1];
						}
					}else{
						$scope.params = {
								pageName : "Order"
								
						};
					}
					$http.get(url, {
						params : $scope.params
					}).then(function(response) {
						$scope.componentDefintion = response.data;
						$scope.ngModelData = {};
						$scope.params= { };
					}, function(x) {
						alert("Error");
					});
				}
				$scope.getComponents();
				
				$scope.callPage= function(pageUrl,requestParams){
					$scope.getComponents(pageUrl,requestParams);
				}

				$scope.call = function() {
					$http.get('components', {
						params : {
							pageName : "CompletedOrderDetails"
						}
					}).then(function(response) {
						$scope.componentDefintion = response.data;
					}, function(x) {
						alert("Error");
					});
				}
			});
		</script>
</body>
</html>
